@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn {
    @apply rounded-md bg-dark/20 px-4 py-2 font-mono text-lg backdrop-blur-md transition-all duration-100 ease-in-out hover:border-b-2 hover:border-b-dark active:scale-95 dark:bg-light/20 dark:backdrop-blur-md hover:dark:border-b-light;
  }
}

[x-cloak] {
  display: none !important;
}

html {
  @apply flex min-h-full w-[100vw] min-w-[100vw] flex-col items-center justify-center overflow-x-hidden;
}

body {
  background-blend-mode: overlay;
  @apply bg-light font-sans text-base text-dark selection:bg-dark/20 dark:bg-dark dark:text-light dark:selection:bg-light/20;
}

h1,
h2,
h3 {
  @apply font-serif;
}

h1 {
  @apply text-4xl font-bold md:text-6xl;
}

h2 {
  @apply font-sans text-lg;
}

h4,
h5,
h6 {
  @apply font-sans;
}

a {
  @apply transition-all duration-300 ease-in hover:border-b-2 hover:border-b-dark hover:dark:border-b-light;
}

p {
  @apply text-lg text-dark dark:text-light;
}

li:has(> a) {
  @apply transition-all duration-300 active:scale-95;
}

#monogram {
  @apply fill-dark dark:fill-light;
}

code {
  font-family: "VT323", monospace;
  @apply text-sm;
}

.menuItem {
  @apply flex flex-col items-center justify-center transition-all duration-100 hover:cursor-pointer active:scale-95;
}

.hero {
  @apply relative top-10 z-20 flex flex-1 flex-col items-center justify-center gap-4 p-2 text-center;
}

.featuredLogo {
  @apply h-fit max-h-6 w-auto max-w-lg fill-dark opacity-90 transition-all ease-in-out dark:fill-light;
}

.featuredLogo #light {
  @apply fill-light transition-all ease-in-out dark:fill-dark;
}

/* .projectItem {
  @apply flex h-fit w-full snap-start snap-always flex-col items-center justify-between rounded-md px-2 py-4 transition-all duration-100 ease-in-out active:scale-90 lg:max-w-lg lg:hover:bg-dark/20 lg:hover:dark:bg-light/20 landscape:max-w-lg landscape:md:max-w-xl;
} */
